{% extends 'administrator/layout.html' %}
{% block title %}
    <title>Admin | Customers</title>
    {% endblock %}
{% block style %}
<style>
    .btn-main-2 {
        background: #e12454;
        color: #fff;
        border-color: #e12454;
        text-decoration: none;


    }

    .btn-main-2:hover {
        background: #223a66;
        color: #fff;
        border-color: #223a66;
    }
</style>
{% endblock %}



{% block content %}
<div class="container">
    <div class="row">

        <div class="height-100 bg-light ">
            <div class="row bg-light shadow  mb-3 rounded">
                <div class="d-flex flex-row p-3">
                    <div>
                        <h5><b>Customer List</b></h5>
                    </div>
                    <div class=" px-5">Total Number of Customers - <strong>{{customerCount}}</strong></div>
                </div>
            </div>
        </div>


        <div class="row">
            <table class="table">
                <thead class="bg-dark">
                    <tr class="th_row text-light">
                        <th class="font-13 border-0 min-150">Name</th>
                        <th class="font-13 border-0 min-150">
                            Number
                        </th>
                        <th class="font-13 border-0 min-100">Email</th>
                    </tr>
                </thead>
                <tbody class="tr_hover">
                    <!-- customerList -->
                    {% for customer in customers %}
                    <tr>
                        <td class="font-13 text-black-50 pointer">
                            {{customer.name}}
                        </td>
                        <td class="font-13 text-black-50 pointer">
                            {{customer.phone}}
                        </td>
                        <td class="font-13 text-black-50 pointer">
                            {{customer.email}}
                        </td>

                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
</div>

{% endblock %}