{% extends 'administrator/layout.html' %}
{% block title %}
    <title>Admin | Employee Details</title>
    {% endblock %}
{% block style %}
<style>
    .btn-main-2 {
        background: #e12454;
        color: #fff;
        border-color: #e12454;
        text-decoration: none;
        width: 40%;


    }

    .btn-main-2:hover {
        background: #223a66;
        color: #fff;
        border-color: #223a66;
    }
</style>
{% endblock %}



{% block content %}
<div class="container">
    <div class="row">

        <div class="card-body p-md-5 text-black">
            <h3 class="mb-5 text-uppercase"><b>Employee Details</b></h3>

            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="row">

                    <div class="form-group mb-4">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group mb-4">
                                    <label class="form-label" for="form3Example1m">First name</label>
                                    <input type="text" id="form3Example1m" class="form-control form-control-lg" name="first_name" value="{{editemployee.first_name}}"/>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group mb-4">
                                    <label class="form-label" for="form3Example1m">Last name</label>
                                    <input type="text" id="form3Example1m" class="form-control form-control-lg" name="last_name" value="{{editemployee.second_name}}"/>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group mb-4">
                        <label class="form-label" for="form3Example9">Email</label>
                        <input type="email" class="form-control form-control-lg" name="email" value="{{editemployee.email}}">
                    </div>

                    <div class="form-group mb-4">
                        <label class="form-label" for="form3Example9">Mobile</label>
                        <input type="text" class="form-control form-control-lg" minlength="0" name="number" value="{{editemployee.phone}}"/>
                    </div>
                    

                    <div class="form-group mb-4">
                        <div class="row">
                            <div class="col-md-2">
                                <label class="form-label" for="form3Example9">Gender</label>
                            </div>
                            <div class="col-md-10">

                                <div class="form-check">
                                    <input type="radio" name="gender" value="male" {% if editemployee.gender == 'male' %}checked{% endif %}>
                                    <label class="form-check-label" value="male">
                                        Male
                                    </label>
                                </div>

                                <div class="form-check">
                                    <input type="radio" name="gender" value="female" {% if editemployee.gender == 'female' %}checked{% endif %}>
                                    <label class="form-check-label" value="female">
                                        Female
                                    </label>
                                </div>

                                <div class="form-check">
                                    <input type="radio" name="gender" value="others" {% if editemployee.gender == 'oters' %}checked{% endif %}>
                                    <label class="form-check-label" value="others">
                                        Others
                                    </label>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="form-group mb-4">
                        <label class="form-label" for="form3Example9">Position</label>
                        <input type="text" class="form-control form-control-lg" name="position" value="{{editemployee.position}}"/>
                    </div>

                    <div class="form-group mb-4">
                        <label class="form-label" for="form3Example9">Joining Date</label>
                        <input type="date" class="form-control" name="hired_date" value="{{ editemployee.hired_date | date:'Y-m-d' }}" id="hired_date_input">
                    </div>
                    
                    

                    <div class="form-group mb-4">
                        <label class="form-label" for="form3Example9">Qualification</label>
                        <input type="text" class="form-control form-control-lg" name="qualification" value="{{editemployee.qualification}}"/>
                    </div>

                    <div class="form-group mb-4">
                        <label class="form-label" for="form3Example8">Current Logo</label>
                        <img id="logoPreview" class="form-control" src="{{editemployee.profile_img.url}}" alt="Logo Preview"
                            style="max-width: 200px; max-height: 200px;" />
                    </div>

                    <div class="form-group mb-4">
                        <label class="form-label" for="form3Example8">Change Profile</label>
                        <input type="file" class="form-control" name="profile_img" />
                    </div>
                </div>



                <div class="d-flex justify-content-center pt-3">
                    <button type="submit" class="btn-main-2 btn-round p-2 btn-lg ms-2">Update</button>
                </div>
            </form>

        </div>
    </div>
</div>



<script>
    $(document).ready(function () {
        $('#email').change(function () {
            var email_field = $(this).val();
            $.ajaxSetup({
                headers: {
                    "X-CSRFToken": $('[name=csrfmiddlewaretoken]').val()
                }
            })
            $.ajax({
                url: "{% url 'admin:email_exist' %}",
                type: 'POST',
                data: { email: email_field },

                success: function (response) {
                    var email_status = $('#email_status'); // Changed to 'email_status'
                    if (response.exists) {
                        email_status.html('<i style="color:red;">The email already exist!</i>');
                    } else {
                        email_status.html('<i style="color:green;">Available !</i>');
                    }
                }
            });
        });
        $('#number').change(function () {
            var number_field = $(this).val();
            $.ajaxSetup({
                headers: {
                    "X-CSRFToken": $('[name=csrfmiddlewaretoken]').val()
                }
            })
            $.ajax({
                url: "{% url 'admin:number_exist' %}",
                type: 'POST',
                data: { number: number_field },

                success: function (response) {
                    var number_status = $('#number_status'); // Changed to 'number_status'
                    if (response.exists) {
                        number_status.html('<i style="color:red;">The number already exist!</i>');
                    } else {
                        number_status.html('<i style="color:green;">Available !</i>');
                    }
                }
            });
        });
    });
    // The maximum date range is limited to today's date
    document.addEventListener('DOMContentLoaded', function() {
        const today = new Date().toISOString().split('T')[0];
        document.getElementById('hired_date_input').setAttribute('max', today);
    });

    // Display an alert box with the success message
    {% if successMessage %}
    alert("{{ successMessage }}");
    {% endif %}
</script>

{% endblock %}