{% extends 'administrator/layout.html' %}
{% block title %}
    <title>Admin | Employee Registration</title>
    {% endblock %}
{% block style %}
<style>
    .btn-main-2 {
        background: #e12454;
        color: #fff;
        border-color: #e12454;
        text-decoration: none;
        width: 40%;


    }

    .btn-main-2:hover {
        background: #223a66;
        color: #fff;
        border-color: #223a66;
    }
</style>
{% endblock %}



{% block content %}
<div class="container">
    <div class="row">

        <div class="card-body p-md-5 text-black">
            <h3 class="mb-5 text-uppercase"><b>Employee Registration</b></h3>

            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="row">

                    <div class="form-group mb-4">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group mb-4">
                                    <label class="form-label" for="form3Example1m">First name</label>
                                    <input type="text" id="form3Example1m" class="form-control form-control-lg" name="first_name" required/>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group mb-4">
                                    <label class="form-label" for="form3Example1m">Last name</label>
                                    <input type="text" id="form3Example1m" class="form-control form-control-lg" name="last_name" required/>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group mb-4">
                        <label class="form-label" for="form3Example9">Email</label>
                        <input type="email" id="email" class="form-control form-control-lg" name="email" required/>
                        <span id="email_status"></span>
                    </div>

                    <div class="form-group mb-4">
                        <label class="form-label" for="form3Example9">Mobile</label>
                        <input type="text" id="number" class="form-control form-control-lg" minlength="0" name="number" required/>
                        <span id="number_status"></span>
                    </div>

                    <div class="form-group mb-4">
                        <div class="row">
                            <div class="col-md-2">
                                <label class="form-label" for="form3Example9">Gender</label>
                            </div>
                            <div class="col-md-10">

                                <div class="form-check">
                                    <input type="radio" name="gender" value="male">
                                    <label class="form-check-label" value="male">
                                        Male
                                    </label>
                                </div>

                                <div class="form-check">
                                    <input type="radio" name="gender" value="female">
                                    <label class="form-check-label" value="female">
                                        Female
                                    </label>
                                </div>

                                <div class="form-check">
                                    <input type="radio" name="gender" value="others">
                                    <label class="form-check-label" value="others">
                                        Others
                                    </label>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="form-group mb-4">
                        <label class="form-label" for="form3Example9">Position</label>
                        <input type="text" class="form-control form-control-lg" name="position" required/>
                    </div>

                    <div class="form-group mb-4">
                        <label class="form-label" for="form3Example9">joining date </label>
                        <input type="date" class="form-control"
                        placeholder="dd/mm/yyyy" name="hired_date" required/>
                    </div>

                    <div class="form-group mb-4">
                        <label class="form-label" for="form3Example9">Qualification</label>
                        <input type="text" class="form-control form-control-lg" name="qualification" required/>
                    </div>


                    <div class="form-group mb-4">
                        <label class="form-label" for="form3Example8">Profile</label>
                        <input type="file" class="form-control" name="profile_img" required/>
                    </div>
                </div>



                <div class="d-flex justify-content-center pt-3">
                    <button type="submit" class="btn-main-2 btn-round p-2 btn-lg ms-2">Register</button>
                </div>
            </form>

        </div>
    </div>
</div>

{% comment %} ajax_cdn  {% endcomment %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>     
<script>
    $(document).ready(function() {
        $('#email').change(function(){
        var email_field = $(this).val();
            $.ajaxSetup({
                headers: {
                    "X-CSRFToken": $('[name=csrfmiddlewaretoken]').val()
                }
            })
            $.ajax({
                url: "{% url 'admin:email_exist' %}",
                type: 'POST',
                data: { email: email_field },

                success: function(response) {
                    var email_status = $('#email_status'); // Changed to 'email_status'
                    if (response.exists) {
                        email_status.html('<span style="color:red;">the email already exist!</span>');
                    } else {
                        email_status.html('<span style="color:green;">available !</span>');
                    }
                }
            });
        });
        $('#number').change(function(){
            var number_field = $(this).val();
                $.ajaxSetup({
                    headers: {
                        "X-CSRFToken": $('[name=csrfmiddlewaretoken]').val()
                    }
                })
                $.ajax({
                    url: "{% url 'admin:number_exist' %}",
                    type: 'POST',
                    data: { number: number_field },
    
                    success: function(response) {
                        var number_status = $('#number_status'); // Changed to 'number_status'
                        if (response.exists) {
                            number_status.html('<span style="color:red;">the number already exist!</span>');
                        } else {
                            number_status.html('<span style="color:green;">available !</span>');
                        }
                    }
                });
            });
    });


    {% if successMessage %}
    // Display an alert box with the success message
    alert("{{ successMessage }}");
    {% endif %}
</script>

{% endblock %}