{% extends 'customer/layout.html' %}
{% load static %}
{% block title %}
<title>Boom digital | Address Details</title>
{% endblock %}
{% block style %}

{%endblock%}

{% block searchBar %}
    <section>
        <nav class="navbar navbar-expand-lg navbar-light bg-white pt-3 pb-3">
            <div class="container">
                <a class="navbar-brand" href="{% url 'customer:home' %}"><img src="" alt=""><b>Boom digital hub</b></a>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mx-auto mb-2 mb-lg-0">
                        
                    </ul>

                    <div class="d-flex">
                        <ul class="navbar-nav me-2 mb-2 mb-lg-0">
                            {% if customer_name is not None %}
                            <li class="nav-item">
                                <a class="nav-link active" href="{% url 'customer:cartItems' %}"><svg xmlns="http://www.w3.org/2000/svg" width="33" height="33"
                                    fill="currentColor" class="bi bi-cart4" viewBox="0 0 16 16">
                                    <path
                                      d="M0 2.5A.5.5 0 0 1 .5 2H2a.5.5 0 0 1 .485.379L2.89 4H14.5a.5.5 0 0 1 .485.621l-1.5 6A.5.5 0 0 1 13 11H4a.5.5 0 0 1-.485-.379L1.61 3H.5a.5.5 0 0 1-.5-.5zM3.14 5l.5 2H5V5H3.14zM6 5v2h2V5H6zm3 0v2h2V5H9zm3 0v2h1.36l.5-2H12zm1.11 3H12v2h.61l.5-2zM11 8H9v2h2V8zM8 8H6v2h2V8zM5 8H3.89l.5 2H5V8zm0 5a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0zm9-1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0z" />
                                  </svg><span class="position-absolute top-10px start-150 translate-middle badge rounded-pill bg-dark">
                                    {%if cartCount %}{{cartCount}}{% else %}0{% endif %}
                                    
                                  </span></a>
                            </li>
                            <li class="nav-item dropdown no-arrow">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                    data-bs-toggle="dropdown" aria-expanded="false">

                                    <div class="img-profile rounded-circle" style="width: 33px; height: 33px; background-color: #aaa4a4;
                                            display: flex; align-items: center; justify-content: center;">
                                        <!-- Display user's initials inside a colored circle -->
                                        <b style="text-transform: capitalize;">{{ customer_name | slice:":1"|upper }}</b> 
                                    </div>
                                </a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <span class="dropdown-item class_name" href="">Welcome {{ customer_name | title }}</span>
                                    </li>
                                    <li>
                                        <hr class="dropdown-divider">
                                    </li>
                                    <li><a class="dropdown-item" href="{% url 'customer:profile' %}">Profile</a></li>
                                    <li><a class="dropdown-item" href="{% url 'customer:logout' %}">Logout</a></li>
                                </ul>
                            </li>
                            {% else %}
                            <li class="nav-item">
                                <a class="nav-link active" href="{% url 'customer:login' %}"><svg
                                        xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"
                                        class="bi bi-box-arrow-right" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd"
                                            d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0v2z" />
                                        <path fill-rule="evenodd"
                                            d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z" />
                                    </svg></a>
                            </li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    </section>
{% endblock %}

{%block carousel%}
{% endblock %}

{% block content %}
<section class="bg-light pt-3" id="card-section">
    <div class="container">
        <div class="row">

            <div class="col-md-12 me-3">
                <div class="row p-1">
                    <div class="bg-primary pt-4 pb-3 text-center card">
                        <h5 class="text-light h5t-3 pb-2">
                            ADDRESS DETAILS <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="red"
                                class="bi bi-arrow-right" viewBox="0 0 16 16">
                                <path fill-rule="evenodd"
                                    d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z" />
                            </svg>
                            PATMENT
                        </h5>
                    </div>
                </div>
                <div class="row p-1">
                    <div class="card mt-3 p-4">
                        <form method="POST">
                            {% csrf_token %}
                            <div>
                                <h5 class="pt-3 pb-2"><b>Billing Details</b></h5>
                            </div>
                            <div class="row pb-2">
                                <div class="col">
                                    <div class="form-group">
                                        <label>Name</label>
                                        <input type="text" class="form-control" name="customer_name" placeholder=""
                                            required>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-group">
                                        <label>Phone</label>
                                        <input type="number" class="form-control" name="phone" placeholder="+91"
                                            required>
                                    </div>
                                </div>
                            </div>
                            <div class="row pb-2">
                                <div class="form-group">
                                    <label>Address</label>
                                    <textarea name="address" class="form-control" rows="5" required></textarea>
                                </div>
                            </div>
                            <div class="row pb-2">
                                <div class="col">
                                    <div class="form-group">
                                        <label>Place</label>
                                        <input type="text" class="form-control" name="place" placeholder="" required>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-group">
                                        <label>Postcode / ZIP</label>
                                        <input type="number" class="form-control" name="pincode" placeholder=""
                                            required>
                                    </div>
                                </div>
                            </div>
                            <div class="row pb-2">

                                <div class="form-group">
                                    <label>Email</label>
                                    <input type="email" class="form-control" name="email" placeholder="" required>
                                </div>
                            </div>

                            <div class="row pb-3">
                                <div class="col" style="text-align: right;">
                                    <button type="submit" id="rzp-button" class="btn btn-dark" >Continue
                                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="white"
                                            class="bi bi-arrow-right" viewBox="0 0 16 16">
                                            <path fill-rule="evenodd"
                                                d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z" />
                                        </svg>
                                    </button>
                                </div>
                            </div>
                            
                        </form>
                    </div>

                </div>
            </div>
            

        </div>
</section>



{% endblock %}