{% extends 'customer/layout.html' %}
{% load static %}
{% block title %}
<title>Boom digital | Address Details</title>
{% endblock %}
{% block style %}

{%endblock%}

{%block carousel%}
{% endblock %}

{% block content %}
<section class="bg-light pt-3" id="card-section">
    <div class="container">
        <div class="row">

            <div class="col-md-12 me-3">
                <div class="row p-1">
                    <div class="bg-primary pt-4 pb-3 text-center card">
                        <h5 class="text-light h5t-3 pb-2">
                            PAYMENT
                        </h5>
                    </div>
                </div>
                <div class="row p-1">
                    <div class="card mt-3 p-4">
                        <form method="POST">
                            {% csrf_token %}
                            
                                <div class="summary">
                                        <div>
                                            <h5 class="pt-3 pb-2"><b>Order Summary</b></h5>
                                        </div>
                                        <div class="mt-5">
                                            <div class="row pb-3">
                                                <div class="col">Item total:</div>
                                                <div class="col" style="text-align: right;" id="item_subTotal">{{sub_total}}</div>
                                            </div>
                                        </div>
                                        <hr>
                
                                        <div class="row pb-3">
                                            <div class="col">Total Quantity:</div>
                                            <div class="col" style="text-align: right;" id="total_quantity">{{total_quantity}}<b
                                                    class="text-primary"></b>
                                            </div>
                                        </div>
                                        <hr>
                
                                        <div class="row pb-3">
                                            <div class="col">Shipping charge:</div>
                                            <div class="col" style="text-align: right;" id="shipping_fee">
                                                {% if shipping_fee == 0 %}
                                                <strong> Free </strong>
                                                {% else %}
                                                {{shipping_fee}}
                                                {% endif %}
                                            </div>
                                        </div>
                                        <hr>
                
                                        <div class="row pb-3">
                                            <div class="col">
                                                <h5 class="text-danger"><b>ORDER TOTAL:</b></h5>
                                            </div>
                                            <div class="col" style="text-align: right;" id="item_subTotal">
                                                <h5  class="text-danger"><b id="grand_btn">{{grand_total}}</b></h5>
                                            </div>
                                        </div>
                                        <hr>
                
                
                
                
                                        <div class="form-group">
                
                                            
                                        </div>
                
                
                                    </from>
                                </div>
                                <div class="row pb-3">
                                    <div class="col" style="text-align: right;">
                                        <button type="button" name="pay" id="rzp-btn" class="btn btn-dark" style="text-align: right;">Order 
                                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="white"
                                                class="bi bi-arrow-right" viewBox="0 0 16 16">
                                                <path fill-rule="evenodd"
                                                    d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z" />
                                            </svg>
                                        </button>
                                    </div>
                                </div>
                        </form>
                        
                    </div>

                </div>
            </div>
            
            

        </div>
</section>

<!-- Include jQuery library -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://checkout.razorpay.com/v1/checkout.js"></script>

<script>
    $('#rzp-btn').click(function () {
        let a_id={{address_id}}
         

        $.ajaxSetup({
            headers: {
                "X-CSRFToken": '    {{ csrf_token }}'
            }
        })

        $.ajax({
            
            url:  "{% url 'customer:order_product' %}",

            method: 'POST',
            data:{
                'a_id':a_id
            },



            success: function (response) {
                console.log(response)
                var options = {
                    "key": response.key,
                    "amount": response.payment.amount,
                    "currency": "INR",
                    "name": "Boom Digital Hub",
                    "order_id": response.payment.id,
                    "callback_url": '/customer/callback/'+ a_id,

                    // "handler": function (response) {

                         
                    //     console.log(response);

                       
                    //     updatePayment(selectedAddress)
                    // },
                    "theme": {
                        "color": "#3399cc"
                    },
                    "prefill": { //We recommend using the prefill parameter to auto-fill customer's contact information especially their phone number
                        "name": "Gaurav Kumar", //your customer's name
                        "email": "gaurav.kumar@example.com",
                        "contact": "9000090000" //Provide the customer's phone number for better conversion rates 
                    },
                }

                var rzpl = new Razorpay(options);
                rzpl.open()

            }


        })

    })



    function updatePayment(address) {

        $.ajaxSetup({
            headers: {
                "X-CSRFToken": '{{ csrf_token }}'
            }
        })


        $.ajax({
            url: "{% url 'customer:update_payment' % }",
            data: {
                customerAddress: address
            }

        })


    }
</script>



{% endblock %}