{% extends 'customer/layout.html' %}
{% block title %}
<title>Boom digital | Desktop</title>
{% endblock %}
{% block style %}
<style>
    @media (max-width: 1000px) {

        /* Hide the carousel component */
        #carousel {
            display: none;
        }
    }

    .emt:hover {
        border-bottom: 4px solid #e12454;
        font-weight: bold;
    }

    .custom-card {
        border: none;
        /* Remove the border */
        box-sizing: border-box;
        background-color: #f7f7f7;
        border-radius: 1.38888889vw;
    }

    .custom-card:hover {
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        /* Example box shadow for the hover effect */
        transform: scale(1.05);
        /* Example scaling effect on hover */
    }

    .brand-emt.active {
        font-weight: bold;
        /* Apply the fixed style for the active category */
        border-bottom: 4px solid #e12454;
    }
</style>
{% endblock %}
{%block carousel%}
<section id="">
    <div id="carousel" class="carousel slide">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img style="height: 410px;"
                    src="https://images.ctfassets.net/lzny33ho1g45/how-to-set-up-your-desk-p-img/e6ddc24ab9246c14d6c47318e292577e/file.png"
                    class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img style="height: 410px;" src="https://i.ytimg.com/vi/gKY3hn0Ot_c/maxresdefault.jpg"
                    class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img style=" height: 410px;"
                    src="https://www.pbtech.co.nz/imglib/articles/large/newslarge_20220504140959_Best-Products-for-an-Aesthetic-Gaming-Set-Up.jpg"
                    class="d-block w-100" alt="...">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</section>
{%endblock%}

{% block content %}
<section class="" id="product-section">
    <div class="container">
        <h1 class="text-center font-weight-bolder pt-5"><b>Latest deals on Desktop</b></h1>

        <div class="row mt-3">
            <nav class="navbar navbar-expand-lg navbar-dark pb-1">
                <div class="container">

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mx-auto mb-2 mb-lg-0">

                            {%for brand in brands %}
                            <div class="category-emt me-2 d-flex justify-content-center">
                                <li id="{{brand.name}}" class="brand-emt nav-item me-5" data-brand="{{brand.name}}">
                                    <div class="nav-link emt active text-dark" aria-current="page">
                                        {{brand.name | title}}
                                    </div>
                                </li>
                            </div>
                            {%endfor%}

                        </ul>
                    </div>
                </div>
            </nav>
        </div>

        <div class="container">
            <div id="product_emt" class="row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4 mt-5"
                style="display: show;">
                {% for desktop in desktops %}
                <a href="{% url 'customer:productDetails' desktop.id %}" style="text-decoration: none;">
                    <div class="col mb-4">
                        <div class="card custom-card text-dark bg-opacity-10 h-100">
                            <div class="d-flex justify-content-center align-items-center" style="height: 250px;">
                                <img class="card-img-top rounded-circle p-3" src="{{ desktop.image.url }}"
                                    class="card-img-top" alt="" style="height: 100%; width: 100%; object-fit: contain;">
                            </div>

                            <div class="card-body">
                                <h5 class="card-title"><b>{{ desktop.name }}</b></h5>
                                {% if desktop.offer_price %}
                                <h5 class="card-text text-dark"><strong style="color: brown;">- 5% </strong> ₹
                                    {{desktop.offer_price }}</h5>
                                {% else %}
                                <h5 class="card-text text-dark"><strike style="color: brown;">Offer</strike></h5>
                                {% endif %}
                                <p>Price: {{ desktop.price }}</p>
                            </div>
                        </div>
                    </div>
                </a>
                {% endfor %}
            </div>
            <input id="category_id" type="text" value="{{ category_id }}" style="display: none;">

            <div id="brand_emt" class="row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4 mt-5"
                style="display: hide;">
                
                
            </div>
        </div>
    </div>
</section>

<!-- Include jQuery library -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<!-- Include jQuery Cookie plugin from CDN -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/3.0.1/js.cookie.min.js"></script>
<script>

    $(document).ready(function () {

        // Function to handle the click on brand-emt
        $('.brand-emt').on('click', function () {
            // Remove the active class from all brand-emt
            $('.brand-emt.active').removeClass('active');
            // Add the active class to the clicked brand-emt
            $(this).addClass('active');
        });


        // Function to handle the click on brand-emt then get their on products
        $('.brand-emt').on('click', function () {
            const brandName = $(this).data('brand');
            const category_id = $('#category_id').val();

            // Get the CSRF token from the cookie
            const csrfToken = Cookies.get('csrftoken');

            $.ajax({
                type: 'POST',
                url: "{% url 'customer:getBrand' %}",
                data: { brand: brandName, categoryId: category_id },

                beforeSend: function (xhr) {
                    xhr.setRequestHeader("X-CSRFToken", csrfToken); // Include CSRF token in the request headers
                },

                success: function (response) {
                    console.log('done');
                    if (response.status_code === 200) {
                        $('#product_emt').hide(); // Hide the element with id 'product_emt'
                        $('#brand_emt').show(); // Show the element with id 'brand_emt'
                        items = response.brandItems

                        var brandEmt = $('#brand_emt');
                        brandEmt.empty(); // Clear existing content

                        // Iterate over the 'items' array and create the card elements dynamically
                        for (var i = 0; i < items.length; i++) {
                            var desktop = items[i];
                            var cardHtml = `
                                <div class="col mb-4">
                                    <div class="card custom-card text-dark bg-opacity-10 h-100">
                                        <div class="d-flex justify-content-center align-items-center" style="height: 250px;">
                                            <img class="card-img-top rounded-circle p-3" src="${desktop.image}" alt="" style="height: 100%; width: 100%; object-fit: contain;">
                                        </div>
                                        <div class="card-body">
                                            <h5 class="card-title"><b>${desktop.name}</b></h5>
                                            <h5 class="card-text text-dark">Offer Price: ₹ ${desktop.offer_price}</h5>
                                            <p>Price: ${desktop.price}</p>
                                        </div>
                                    </div>
                                </div>
                            `;
                            brandEmt.append(cardHtml); // Append the dynamically created card element
                        }
                    }
                },
                error: function error(error) {
                    console.error("AJAX call failed!");
                    console.error(error);
                },

            });
        });
    });


</script>




{% endblock %}