{% extends 'employee/layout.html' %}
{% block title %}
    <title>Employees | Orders</title>
{% endblock %}
{% block style %}
<style>
    .btn-main-2 {
  background: #e12454;
  color: #fff;
  border-color: #e12454;
  text-decoration: none;
 

}

.btn-main-2:hover {
  background: #223a66;
  color: #fff;
  border-color: #223a66;
}
</style>
{% endblock %}



{% block content %}
<div class="container">
    <div class="row">

        <div class="height-100 bg-light ">
            <div class="height-100 bg-light ">
                <div class="row bg-light shadow  mb-3 rounded">
                    <div class="d-flex flex-row p-3">
                        <div>
                            <h5><b>Orders List</b></h5>
                        </div>
                        <div class=" px-5">Total Number of Orders - <strong>{{orderCount}}</strong></div>
                    </div>
                </div>
            </div>
            

            <div class="row">
                <table class="table">
                    <thead class="bg-dark">
                        <tr class="th_row text-light">
                            <th class="font-13 border-0 min-150">Order Id</th>
                            <th class="font-13 border-0 min-150">Order Date</th>
                            <th class="font-13 border-0 min-150">Customer </th>
                            <th class="font-13 border-0 min-150">Product</th>
                            <th class="font-13 border-0 min-150">
                                Quantity
                            </th>                            
                        </tr>
                    </thead>
                    <tbody class="tr_hover">
                        <!-- orderList -->
                        {% for orderitem in orderItems %}
                        <tr>
                            <td class="font-13 text-black-50 pointer">
                                {{orderitem.order.order_no}}
                            </td>
                            <td class="font-13 text-black-50 pointer">
                                <a style="color: inherit;" href="">
                                    {{orderitem.order.created_at}}
                                </a>
                            </td>
                            <td class="font-13 text-black-50 pointer">
                                {{orderitem.order.shipping_address.name}}
                            </td>
                            <td class="font-13 text-black-50 pointer">
                                {{ orderitem.product.name }}                                
                            </td>
                            <td class="font-13 text-black-50 pointer">
                                {{ orderitem.quantity }}
                            </td>
                        </tr>
                        {% endfor %}
                        
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{% endblock %}