{% extends 'employee/layout.html' %}
{% block title %}
    <title>Employees | Product Details</title>
{% endblock %}
{% block style %}
<style>
    .btn-main-2 {
        background: #e12454;
        color: #fff;
        border-color: #e12454;
        text-decoration: none;
        width: 40%;


    }

    .btn-main-2:hover {
        background: #223a66;
        color: #fff;
        border-color: #223a66;
    }
</style>
{% endblock %}



{% block content %}
<div class="container">
    <div class="row">

        <div class="card-body p-md-5 text-black">
            <h3 class="mb-5 text-uppercase"><b>Product Details</b></h3>

            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}

                <div class="form-group row">
                    <label for="inputEmail3" class="col-sm-2 col-form-label">Category</label>
                    <div class="col-sm-10">
                        <select class="form-select" name="category" id="category">
                            <option value="{{editproduct.category.id}}" selected>{{editproduct.category.name}}</option>
                            {% for category in categories %}
                            <option value="{{category.id}}">{{category.name}}</option>
                            {%endfor%}
                        </select>
                    </div>
                </div><br>

                <div class="form-group row">
                    <label for="inputEmail3" class="col-sm-2 col-form-label">Brand</label>
                    <div class="col-sm-10">
                        <select class="form-select" name="brand" id="brand">
                            <option value="{{editproduct.brand}}">{{editproduct.brand.name}}</option>
                            
                        </select>
                    </div>
                </div><br>

                <div class="form-group row">
                    <label for="inputEmail3" class="col-sm-2 col-form-label">Product</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="nameField" placeholder="Product name" name="name" value="{{editproduct.name}}" readonly><br>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="inputPassword3" class="col-sm-2 col-form-label">Description</label>
                    <div class="col-sm-10">
                        <textarea class="form-control" id="descriptionField" placeholder="Write Description" rows="3"
                            style="margin-bottom: 20px;" name="description">{{editproduct.description}}</textarea>
                    </div>
                </div>
                <div class=" form-group row">
                    <label for="inputEmail3" class="col-sm-2 col-form-label">Price</label>
                    <div class="col-sm-10">
                        <input type="number" class="form-control" id="pricefield" placeholder="₹" name="price" value="{{editproduct.price}}"><br>
                    </div>
                </div>
                <div class=" form-group row">
                    <label for="inputEmail3" class="col-sm-2 col-form-label">Offer Price</label>
                    <div class="col-sm-10">
                        <input type="number" class="form-control" id="offer_price" placeholder="₹" name="offer_price" value="{{editproduct.offer_price}}" oninput="validateOfferPrice(this.value)">
                        <i id="offerPriceError" style="color: red;"></i><br>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputEmail3" class="col-sm-2 col-form-label">Current Stock</label>
                    <div class="col-sm-10">
                        <input type="number" class="form-control" id="" placeholder="stock" name="current_stock" value="{{editproduct.current_stock}}"><br>
                    </div>
                </div>
                <div class="form-group mb-4">
                    <label class="form-label" for="form3Example8">Current Image</label>
                    <img id="logoPreview" class="form-control" src="{{editproduct.image.url}}" alt="Logo Preview" style="max-width: 200px; max-height: 200px;" />
                </div>
                <div class="form-group row">
                    <label for="inputEmail3" class="col-sm-2 col-form-label">Change Image</label>
                    <div class="col-sm-10">
                        <input type="file" name="image" class="form-control"  placeholder="jpg"><br>
                    </div>
                </div>
                <div class="">
                    <div class="col-sm-10">
                        <button type="submit" id="submitButton" class="btn btn-dark" style="width: 50%; margin-left: 40%; ">Update</button>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>

{% comment %} ajax_cdn  {% endcomment %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> 
<script>
    $(document).ready(function(){
        $.ajaxSetup({
            headers: {
                "X-CSRFToken": $('[name=csrfmiddlewaretoken]').val()
            }
        })
        $('#category').change(function(){
            $.ajax({
                type : 'POST',
                url : "{% url 'employee:categoryItem' %}",
                data : { 'category' : $(this).val() },

                success: function(response){
                    // console.log(response.brands);
                    populateBrandDropdown(response.brands); // Call the function to populate the brand dropdown
                },
                
            });
        });
        
        function populateBrandDropdown(brands) {
            var brandDropdown = $('#brand');
            brandDropdown.empty(); // Clear existing options
    
            // Add each brand as an option in the dropdown
            for (var i = 0; i < brands.length; i++) {
                var brand = brands[i];
                var option = $('<option>', {
                    value: brand.id,
                    text: brand.name,
                });
                brandDropdown.append(option);
            }
        }
        
        $('#nameField').change(function(){
            var productName = $(this).val();
                $.ajaxSetup({
                    headers: {
                        "X-CSRFToken": $('[name=csrfmiddlewaretoken]').val()
                    }
                })
                $.ajax({
                    url: "{% url 'employee:product_exist' %}",
                    type: 'POST',
                    data: { productField: productName },
    
                    success: function(response) {
                        var product_status = $('#product_status'); // 'product_status' field
                        if (response.exists) {
                            product_status.html('<i style="color:red;">The product already exist!</i>');
                        } else {
                            product_status.html('<i style="color:green;">Available !</i>');
                        }
                    }
                });
            });   
    });

    // set the offer_price conditionally based on the value of the price field
    function validateOfferPrice(offerPrice) {
        const price = parseFloat(document.getElementById("pricefield").value);
        const submitButton = document.getElementById("submitButton");
        const offerPriceError = document.getElementById("offerPriceError");

        if (isNaN(price)) {
            offerPriceError.innerText = "Please enter a valid price first.";
            submitButton.disabled = true;
            return;
        }

        if (parseFloat(offerPrice) >= price) {
            offerPriceError.innerText = "Offer price must be less than the price.";
            submitButton.disabled = true;
        } else {
            offerPriceError.innerText = "";
            submitButton.disabled = false;
        }
    }
    {% if successMessage %}
    alert('{{successMessage}}')
    {% endif %}
</script>

{% endblock %}