{% extends 'employee/layout.html' %}

{% block style %}
<style>
    .btn-main-2 {
        background: #e12454;
        color: #fff;
        border-color: #e12454;
        text-decoration: none;
        width: 40%;


    }

    .btn-main-2:hover {
        background: #223a66;
        color: #fff;
        border-color: #223a66;
    }
</style>
{% endblock %}



{% block content %}
<div class="container">
    <div class="row">

        <div class="card-body p-md-5 text-black">
            <h3 class="mb-5 text-uppercase"><b>Product Details</b></h3>

            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}

                <div class="form-group row">
                    <label for="inputEmail3" class="col-sm-2 col-form-label">Category</label>
                    <div class="col-sm-10">
                        <select class="form-select" name="category">
                            <option value="{{editemployee.category}}" selected>{{editemployee.category.name}}</option>
                            {% for category in categories %}
                            <option value="{{category.id}}">{{category.name}}</option>
                            {%endfor%}
                        </select>
                    </div>
                </div><br>

                <div class="form-group row">
                    <label for="inputEmail3" class="col-sm-2 col-form-label">Brand</label>
                    <div class="col-sm-10">
                        <select class="form-select" name="brand">
                            <option value="{{editemployee.brand}}">{{editemployee.brand.name}}</option>
                            {% for brand in brands %}
                            <option value="{{brand.id}}">{{brand.name}}</option>
                            {%endfor%}
                        </select>
                    </div>
                </div><br>

                <div class="form-group row">
                    <label for="inputEmail3" class="col-sm-2 col-form-label">Product</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="nameField" placeholder="Product name" name="name" value="{{editemployee.name}}"><br>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="inputPassword3" class="col-sm-2 col-form-label">Description</label>
                    <div class="col-sm-10">
                        <textarea class="form-control" id="descriptionField" placeholder="Write Description" rows="3"
                            style="margin-bottom: 20px;" name="description">{{editemployee.description}}</textarea>
                    </div>
                </div>
                <div class=" form-group row">
                    <label for="inputEmail3" class="col-sm-2 col-form-label">Price</label>
                    <div class="col-sm-10">
                        <input type="number" class="form-control" id="pricefield" placeholder="₹" name="price" value="{{editemployee.price}}"><br>
                    </div>
                </div>
                <div class=" form-group row">
                    <label for="inputEmail3" class="col-sm-2 col-form-label">Offer Price</label>
                    <div class="col-sm-10">
                        <input type="number" class="form-control" id="offer_price" placeholder="₹" name="offer_price" value="{{editemployee.offer_price}}"><br>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputEmail3" class="col-sm-2 col-form-label">Current Stock</label>
                    <div class="col-sm-10">
                        <input type="number" class="form-control" id="" placeholder="stock" name="current_stock" value="{{editemployee.current_stock}}"><br>
                    </div>
                </div>
                <div class="form-group mb-4">
                    <label class="form-label" for="form3Example8">Current Logo</label>
                    <img id="logoPreview" class="form-control" src="{{editemployee.image.url}}" alt="Logo Preview" style="max-width: 200px; max-height: 200px;" />
                </div>
                <div class="form-group row">
                    <label for="inputEmail3" class="col-sm-2 col-form-label">Change image</label>
                    <div class="col-sm-10">
                        <input type="file" name="image" class="form-control" id="stockField" placeholder="jpg"><br>
                    </div>
                </div>
                <div class="">
                    <div class="col-sm-10" style="width: 100%">
                        <button type="submit" class="btn btn-dark" style="width: 50%; margin-left: 40%; ">Update</button>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>

<script>
    {% if successMessage %}
    alert('{{successMessage}}')
    {% endif %}
</script>

{% endblock %}