{% extends 'employee/layout.html' %}
{% load static %}
{% block title %}
<title>Boom digital | Profile</title>
{% endblock %}
{% block style %}

{%endblock%}

{%block carousel%}
{% endblock %}

{% block content %}
<section class="" id="product-section">
    <div class="container">
        <h3 style="margin-top: 20px;">| Profile</h3>
        <table class="table">
            <tbody>
                <tr>
                    <th scope="row">Name</th>
                    <td>{{ user.full_name}}</td>
                </tr>
                <tr>
                    <th scope="row">Email</th>
                    <td>{{ user.email}}</td>
                </tr>
                <tr>
                    <th scope="row">Phone No</th>
                    <td>{{ user.phone}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</section>
{% endblock %}